<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>torrent</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLTypes</key>
			<array>
				<dict>
					<key>CFBundleURLName</key>
					<string>me.mingky.torrentfile</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>torrent</string>
					</array>
				</dict>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string></string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
